In [32]:
import datetime
import pandas as pd

planName = ''
listName = 'L'
startDate = datetime.date(2023,8,30)
listPerDay = 1
totalList = 91
reverse = False
skip_date_list = ["2023-09-29", "2023-10-09", "2023-10-10", "2024-01-01"]

df = pd.DataFrame()
cnt = 0
while True:
    while (
        startDate.strftime("%w") == '0'
        or startDate.strftime("%w") == '6'
        or str(startDate) in skip_date_list
    ):
        startDate = startDate + datetime.timedelta(days=1)
    cnt += 1
    date_str = startDate.strftime("%B %#d, %Y")
    list_value = listName + str(cnt).zfill(2)
    
    df = pd.concat([df, pd.DataFrame([{"Name": list_value, "Date": date_str, ""=[] }])], ignore_index=True)
    startDate = startDate + datetime.timedelta(days=1)
    if cnt == totalList:
        break

In [33]:
df

   Name               Date
0   L01    August 30, 2023
1   L02    August 31, 2023
2   L03  September 1, 2023
3   L04  September 4, 2023
4   L05  September 5, 2023
..  ...                ...
86  L87    January 3, 2024
87  L88    January 4, 2024
88  L89    January 5, 2024
89  L90    January 8, 2024
90  L91    January 9, 2024

[91 rows x 2 columns]

In [35]:
df

   Name               Date
0   L01    August 30, 2023
1   L02    August 31, 2023
2   L03  September 1, 2023
3   L04  September 4, 2023
4   L05  September 5, 2023
..  ...                ...
86  L87    January 3, 2024
87  L88    January 4, 2024
88  L89    January 5, 2024
89  L90    January 8, 2024
90  L91    January 9, 2024

[91 rows x 2 columns]

In [86]:
list_dict = dict(zip(df['Name'], df['Date']))
date_dict = dict(zip(df['Date'], []))

In [67]:
date_dict

{'August 30, 2023': 'L01',
 'August 31, 2023': 'L02',
 'September 1, 2023': 'L03',
 'September 4, 2023': 'L04',
 'September 5, 2023': 'L05',
 'September 6, 2023': 'L06',
 'September 7, 2023': 'L07',
 'September 8, 2023': 'L08',
 'September 11, 2023': 'L09',
 'September 12, 2023': 'L10',
 'September 13, 2023': 'L11',
 'September 14, 2023': 'L12',
 'September 15, 2023': 'L13',
 'September 18, 2023': 'L14',
 'September 19, 2023': 'L15',
 'September 20, 2023': 'L16',
 'September 21, 2023': 'L17',
 'September 22, 2023': 'L18',
 'September 25, 2023': 'L19',
 'September 26, 2023': 'L20',
 'September 27, 2023': 'L21',
 'September 28, 2023': 'L22',
 'October 2, 2023': 'L23',
 'October 3, 2023': 'L24',
 'October 4, 2023': 'L25',
 'October 5, 2023': 'L26',
 'October 6, 2023': 'L27',
 'October 11, 2023': 'L28',
 'October 12, 2023': 'L29',
 'October 13, 2023': 'L30',
 'October 16, 2023': 'L31',
 'October 17, 2023': 'L32',
 'October 18, 2023': 'L33',
 'October 19, 2023': 'L34',
 'October 20, 2023': 'L35',
 'October 23, 2023': 'L36',
 'October 24, 2023': 'L37',
 'October 25, 2023': 'L38',
 'October 26, 2023': 'L39',
 'October 27, 2023': 'L40',
 'October 30, 2023': 'L41',
 'October 31, 2023': 'L42',
 'November 1, 2023': 'L43',
 'November 2, 2023': 'L44',
 'November 3, 2023': 'L45',
 'November 6, 2023': 'L46',
 'November 7, 2023': 'L47',
 'November 8, 2023': 'L48',
 'November 9, 2023': 'L49',
 'November 10, 2023': 'L50',
 'November 13, 2023': 'L51',
 'November 14, 2023': 'L52',
 'November 15, 2023': 'L53',
 'November 16, 2023': 'L54',
 'November 17, 2023': 'L55',
 'November 20, 2023': 'L56',
 'November 21, 2023': 'L57',
 'November 22, 2023': 'L58',
 'November 23, 2023': 'L59',
 'November 24, 2023': 'L60',
 'November 27, 2023': 'L61',
 'November 28, 2023': 'L62',
 'November 29, 2023': 'L63',
 'November 30, 2023': 'L64',
 'December 1, 2023': 'L65',
 'December 4, 2023': 'L66',
 'December 5, 2023': 'L67',
 'December 6, 2023': 'L68',
 'December 7, 2023': 'L69',
 'December 8, 2023': 'L70',
 'December 11, 2023': 'L71',
 'December 12, 2023': 'L72',
 'December 13, 2023': 'L73',
 'December 14, 2023': 'L74',
 'December 15, 2023': 'L75',
 'December 18, 2023': 'L76',
 'December 19, 2023': 'L77',
 'December 20, 2023': 'L78',
 'December 21, 2023': 'L79',
 'December 22, 2023': 'L80',
 'December 25, 2023': 'L81',
 'December 26, 2023': 'L82',
 'December 27, 2023': 'L83',
 'December 28, 2023': 'L84',
 'December 29, 2023': 'L85',
 'January 2, 2024': 'L86',
 'January 3, 2024': 'L87',
 'January 4, 2024': 'L88',
 'January 5, 2024': 'L89',
 'January 8, 2024': 'L90',
 'January 9, 2024': 'L91'}

In [69]:
data
for idx, item in enumerate(data):
    print(idx,item)
    list_id = item["list"]
    list_date = list_dict[list_id]
    review_dict[list_id] = [list_date]

0 {'date': 'August 30, 2023', 'list': 'L01'}
1 {'date': 'August 31, 2023', 'list': 'L02'}
2 {'date': 'September 1, 2023', 'list': 'L03'}
3 {'date': 'September 4, 2023', 'list': 'L04'}
4 {'date': 'September 5, 2023', 'list': 'L05'}
5 {'date': 'September 6, 2023', 'list': 'L06'}
6 {'date': 'September 7, 2023', 'list': 'L07'}
7 {'date': 'September 8, 2023', 'list': 'L08'}
8 {'date': 'September 11, 2023', 'list': 'L09'}
9 {'date': 'September 12, 2023', 'list': 'L10'}
10 {'date': 'September 13, 2023', 'list': 'L11'}
11 {'date': 'September 14, 2023', 'list': 'L12'}
12 {'date': 'September 15, 2023', 'list': 'L13'}
13 {'date': 'September 18, 2023', 'list': 'L14'}
14 {'date': 'September 19, 2023', 'list': 'L15'}
15 {'date': 'September 20, 2023', 'list': 'L16'}
16 {'date': 'September 21, 2023', 'list': 'L17'}
17 {'date': 'September 22, 2023', 'list': 'L18'}
18 {'date': 'September 25, 2023', 'list': 'L19'}
19 {'date': 'September 26, 2023', 'list': 'L20'}
20 {'date': 'September 27, 2023', 'list': 'L21'}
21 {'date': 'September 28, 2023', 'list': 'L22'}
22 {'date': 'October 2, 2023', 'list': 'L23'}
23 {'date': 'October 3, 2023', 'list': 'L24'}
24 {'date': 'October 4, 2023', 'list': 'L25'}
25 {'date': 'October 5, 2023', 'list': 'L26'}
26 {'date': 'October 6, 2023', 'list': 'L27'}
27 {'date': 'October 11, 2023', 'list': 'L28'}
28 {'date': 'October 12, 2023', 'list': 'L29'}
29 {'date': 'October 13, 2023', 'list': 'L30'}
30 {'date': 'October 16, 2023', 'list': 'L31'}
31 {'date': 'October 17, 2023', 'list': 'L32'}
32 {'date': 'October 18, 2023', 'list': 'L33'}
33 {'date': 'October 19, 2023', 'list': 'L34'}
34 {'date': 'October 20, 2023', 'list': 'L35'}
35 {'date': 'October 23, 2023', 'list': 'L36'}
36 {'date': 'October 24, 2023', 'list': 'L37'}
37 {'date': 'October 25, 2023', 'list': 'L38'}
38 {'date': 'October 26, 2023', 'list': 'L39'}
39 {'date': 'October 27, 2023', 'list': 'L40'}
40 {'date': 'October 30, 2023', 'list': 'L41'}
41 {'date': 'October 31, 2023', 'list': 'L42'}
42 {'date': 'November 1, 2023', 'list': 'L43'}
43 {'date': 'November 2, 2023', 'list': 'L44'}
44 {'date': 'November 3, 2023', 'list': 'L45'}
45 {'date': 'November 6, 2023', 'list': 'L46'}
46 {'date': 'November 7, 2023', 'list': 'L47'}
47 {'date': 'November 8, 2023', 'list': 'L48'}
48 {'date': 'November 9, 2023', 'list': 'L49'}
49 {'date': 'November 10, 2023', 'list': 'L50'}
50 {'date': 'November 13, 2023', 'list': 'L51'}
51 {'date': 'November 14, 2023', 'list': 'L52'}
52 {'date': 'November 15, 2023', 'list': 'L53'}
53 {'date': 'November 16, 2023', 'list': 'L54'}
54 {'date': 'November 17, 2023', 'list': 'L55'}
55 {'date': 'November 20, 2023', 'list': 'L56'}
56 {'date': 'November 21, 2023', 'list': 'L57'}
57 {'date': 'November 22, 2023', 'list': 'L58'}
58 {'date': 'November 23, 2023', 'list': 'L59'}
59 {'date': 'November 24, 2023', 'list': 'L60'}
60 {'date': 'November 27, 2023', 'list': 'L61'}
61 {'date': 'November 28, 2023', 'list': 'L62'}
62 {'date': 'November 29, 2023', 'list': 'L63'}
63 {'date': 'November 30, 2023', 'list': 'L64'}
64 {'date': 'December 1, 2023', 'list': 'L65'}
65 {'date': 'December 4, 2023', 'list': 'L66'}
66 {'date': 'December 5, 2023', 'list': 'L67'}
67 {'date': 'December 6, 2023', 'list': 'L68'}
68 {'date': 'December 7, 2023', 'list': 'L69'}
69 {'date': 'December 8, 2023', 'list': 'L70'}
70 {'date': 'December 11, 2023', 'list': 'L71'}
71 {'date': 'December 12, 2023', 'list': 'L72'}
72 {'date': 'December 13, 2023', 'list': 'L73'}
73 {'date': 'December 14, 2023', 'list': 'L74'}
74 {'date': 'December 15, 2023', 'list': 'L75'}
75 {'date': 'December 18, 2023', 'list': 'L76'}
76 {'date': 'December 19, 2023', 'list': 'L77'}
77 {'date': 'December 20, 2023', 'list': 'L78'}
78 {'date': 'December 21, 2023', 'list': 'L79'}
79 {'date': 'December 22, 2023', 'list': 'L80'}
80 {'date': 'December 25, 2023', 'list': 'L81'}
81 {'date': 'December 26, 2023', 'list': 'L82'}
82 {'date': 'December 27, 2023', 'list': 'L83'}
83 {'date': 'December 28, 2023', 'list': 'L84'}
84 {'date': 'December 29, 2023', 'list': 'L85'}
85 {'date': 'January 2, 2024', 'list': 'L86'}
86 {'date': 'January 3, 2024', 'list': 'L87'}
87 {'date': 'January 4, 2024', 'list': 'L88'}
88 {'date': 'January 5, 2024', 'list': 'L89'}
89 {'date': 'January 8, 2024', 'list': 'L90'}
90 {'date': 'January 9, 2024', 'list': 'L91'}

In [64]:


for idx, item in enumerate(data):
    list_id = item["list"]
    list_date = list_dict[list_id]
    review_dict[list_id] = [list_date]
    for interval in review_intervals[1:]:
        try:
            review_dict[list_id].append(data[idx+interval]['date'])
        except:
            pass

In [81]:
list_of_dicts = df.to_dict(orient='records')
list_of_dicts

[{'Name': 'L01', 'Date': 'August 30, 2023'},
 {'Name': 'L02', 'Date': 'August 31, 2023'},
 {'Name': 'L03', 'Date': 'September 1, 2023'},
 {'Name': 'L04', 'Date': 'September 4, 2023'},
 {'Name': 'L05', 'Date': 'September 5, 2023'},
 {'Name': 'L06', 'Date': 'September 6, 2023'},
 {'Name': 'L07', 'Date': 'September 7, 2023'},
 {'Name': 'L08', 'Date': 'September 8, 2023'},
 {'Name': 'L09', 'Date': 'September 11, 2023'},
 {'Name': 'L10', 'Date': 'September 12, 2023'},
 {'Name': 'L11', 'Date': 'September 13, 2023'},
 {'Name': 'L12', 'Date': 'September 14, 2023'},
 {'Name': 'L13', 'Date': 'September 15, 2023'},
 {'Name': 'L14', 'Date': 'September 18, 2023'},
 {'Name': 'L15', 'Date': 'September 19, 2023'},
 {'Name': 'L16', 'Date': 'September 20, 2023'},
 {'Name': 'L17', 'Date': 'September 21, 2023'},
 {'Name': 'L18', 'Date': 'September 22, 2023'},
 {'Name': 'L19', 'Date': 'September 25, 2023'},
 {'Name': 'L20', 'Date': 'September 26, 2023'},
 {'Name': 'L21', 'Date': 'September 27, 2023'},
 {'Name': 'L22', 'Date': 'September 28, 2023'},
 {'Name': 'L23', 'Date': 'October 2, 2023'},
 {'Name': 'L24', 'Date': 'October 3, 2023'},
 {'Name': 'L25', 'Date': 'October 4, 2023'},
 {'Name': 'L26', 'Date': 'October 5, 2023'},
 {'Name': 'L27', 'Date': 'October 6, 2023'},
 {'Name': 'L28', 'Date': 'October 11, 2023'},
 {'Name': 'L29', 'Date': 'October 12, 2023'},
 {'Name': 'L30', 'Date': 'October 13, 2023'},
 {'Name': 'L31', 'Date': 'October 16, 2023'},
 {'Name': 'L32', 'Date': 'October 17, 2023'},
 {'Name': 'L33', 'Date': 'October 18, 2023'},
 {'Name': 'L34', 'Date': 'October 19, 2023'},
 {'Name': 'L35', 'Date': 'October 20, 2023'},
 {'Name': 'L36', 'Date': 'October 23, 2023'},
 {'Name': 'L37', 'Date': 'October 24, 2023'},
 {'Name': 'L38', 'Date': 'October 25, 2023'},
 {'Name': 'L39', 'Date': 'October 26, 2023'},
 {'Name': 'L40', 'Date': 'October 27, 2023'},
 {'Name': 'L41', 'Date': 'October 30, 2023'},
 {'Name': 'L42', 'Date': 'October 31, 2023'},
 {'Name': 'L43', 'Date': 'November 1, 2023'},
 {'Name': 'L44', 'Date': 'November 2, 2023'},
 {'Name': 'L45', 'Date': 'November 3, 2023'},
 {'Name': 'L46', 'Date': 'November 6, 2023'},
 {'Name': 'L47', 'Date': 'November 7, 2023'},
 {'Name': 'L48', 'Date': 'November 8, 2023'},
 {'Name': 'L49', 'Date': 'November 9, 2023'},
 {'Name': 'L50', 'Date': 'November 10, 2023'},
 {'Name': 'L51', 'Date': 'November 13, 2023'},
 {'Name': 'L52', 'Date': 'November 14, 2023'},
 {'Name': 'L53', 'Date': 'November 15, 2023'},
 {'Name': 'L54', 'Date': 'November 16, 2023'},
 {'Name': 'L55', 'Date': 'November 17, 2023'},
 {'Name': 'L56', 'Date': 'November 20, 2023'},
 {'Name': 'L57', 'Date': 'November 21, 2023'},
 {'Name': 'L58', 'Date': 'November 22, 2023'},
 {'Name': 'L59', 'Date': 'November 23, 2023'},
 {'Name': 'L60', 'Date': 'November 24, 2023'},
 {'Name': 'L61', 'Date': 'November 27, 2023'},
 {'Name': 'L62', 'Date': 'November 28, 2023'},
 {'Name': 'L63', 'Date': 'November 29, 2023'},
 {'Name': 'L64', 'Date': 'November 30, 2023'},
 {'Name': 'L65', 'Date': 'December 1, 2023'},
 {'Name': 'L66', 'Date': 'December 4, 2023'},
 {'Name': 'L67', 'Date': 'December 5, 2023'},
 {'Name': 'L68', 'Date': 'December 6, 2023'},
 {'Name': 'L69', 'Date': 'December 7, 2023'},
 {'Name': 'L70', 'Date': 'December 8, 2023'},
 {'Name': 'L71', 'Date': 'December 11, 2023'},
 {'Name': 'L72', 'Date': 'December 12, 2023'},
 {'Name': 'L73', 'Date': 'December 13, 2023'},
 {'Name': 'L74', 'Date': 'December 14, 2023'},
 {'Name': 'L75', 'Date': 'December 15, 2023'},
 {'Name': 'L76', 'Date': 'December 18, 2023'},
 {'Name': 'L77', 'Date': 'December 19, 2023'},
 {'Name': 'L78', 'Date': 'December 20, 2023'},
 {'Name': 'L79', 'Date': 'December 21, 2023'},
 {'Name': 'L80', 'Date': 'December 22, 2023'},
 {'Name': 'L81', 'Date': 'December 25, 2023'},
 {'Name': 'L82', 'Date': 'December 26, 2023'},
 {'Name': 'L83', 'Date': 'December 27, 2023'},
 {'Name': 'L84', 'Date': 'December 28, 2023'},
 {'Name': 'L85', 'Date': 'December 29, 2023'},
 {'Name': 'L86', 'Date': 'January 2, 2024'},
 {'Name': 'L87', 'Date': 'January 3, 2024'},
 {'Name': 'L88', 'Date': 'January 4, 2024'},
 {'Name': 'L89', 'Date': 'January 5, 2024'},
 {'Name': 'L90', 'Date': 'January 8, 2024'},
 {'Name': 'L91', 'Date': 'January 9, 2024'}]

In [93]:
date_dict = dict(zip(df['Date'], df['Name']))
date_dict

{'August 30, 2023': 'L01',
 'August 31, 2023': 'L02',
 'September 1, 2023': 'L03',
 'September 4, 2023': 'L04',
 'September 5, 2023': 'L05',
 'September 6, 2023': 'L06',
 'September 7, 2023': 'L07',
 'September 8, 2023': 'L08',
 'September 11, 2023': 'L09',
 'September 12, 2023': 'L10',
 'September 13, 2023': 'L11',
 'September 14, 2023': 'L12',
 'September 15, 2023': 'L13',
 'September 18, 2023': 'L14',
 'September 19, 2023': 'L15',
 'September 20, 2023': 'L16',
 'September 21, 2023': 'L17',
 'September 22, 2023': 'L18',
 'September 25, 2023': 'L19',
 'September 26, 2023': 'L20',
 'September 27, 2023': 'L21',
 'September 28, 2023': 'L22',
 'October 2, 2023': 'L23',
 'October 3, 2023': 'L24',
 'October 4, 2023': 'L25',
 'October 5, 2023': 'L26',
 'October 6, 2023': 'L27',
 'October 11, 2023': 'L28',
 'October 12, 2023': 'L29',
 'October 13, 2023': 'L30',
 'October 16, 2023': 'L31',
 'October 17, 2023': 'L32',
 'October 18, 2023': 'L33',
 'October 19, 2023': 'L34',
 'October 20, 2023': 'L35',
 'October 23, 2023': 'L36',
 'October 24, 2023': 'L37',
 'October 25, 2023': 'L38',
 'October 26, 2023': 'L39',
 'October 27, 2023': 'L40',
 'October 30, 2023': 'L41',
 'October 31, 2023': 'L42',
 'November 1, 2023': 'L43',
 'November 2, 2023': 'L44',
 'November 3, 2023': 'L45',
 'November 6, 2023': 'L46',
 'November 7, 2023': 'L47',
 'November 8, 2023': 'L48',
 'November 9, 2023': 'L49',
 'November 10, 2023': 'L50',
 'November 13, 2023': 'L51',
 'November 14, 2023': 'L52',
 'November 15, 2023': 'L53',
 'November 16, 2023': 'L54',
 'November 17, 2023': 'L55',
 'November 20, 2023': 'L56',
 'November 21, 2023': 'L57',
 'November 22, 2023': 'L58',
 'November 23, 2023': 'L59',
 'November 24, 2023': 'L60',
 'November 27, 2023': 'L61',
 'November 28, 2023': 'L62',
 'November 29, 2023': 'L63',
 'November 30, 2023': 'L64',
 'December 1, 2023': 'L65',
 'December 4, 2023': 'L66',
 'December 5, 2023': 'L67',
 'December 6, 2023': 'L68',
 'December 7, 2023': 'L69',
 'December 8, 2023': 'L70',
 'December 11, 2023': 'L71',
 'December 12, 2023': 'L72',
 'December 13, 2023': 'L73',
 'December 14, 2023': 'L74',
 'December 15, 2023': 'L75',
 'December 18, 2023': 'L76',
 'December 19, 2023': 'L77',
 'December 20, 2023': 'L78',
 'December 21, 2023': 'L79',
 'December 22, 2023': 'L80',
 'December 25, 2023': 'L81',
 'December 26, 2023': 'L82',
 'December 27, 2023': 'L83',
 'December 28, 2023': 'L84',
 'December 29, 2023': 'L85',
 'January 2, 2024': 'L86',
 'January 3, 2024': 'L87',
 'January 4, 2024': 'L88',
 'January 5, 2024': 'L89',
 'January 8, 2024': 'L90',
 'January 9, 2024': 'L91'}

In [91]:
date_dict = dict(zip(df['Date'], df['Name']))
review_dict = {}
review_list = []
for idx, item in enumerate(list_of_dicts):
    list_id = item["Name"]
    list_date = list_dict[list_id]
    review_dict[list_id] = [list_date]
    for interval in review_intervals[1:]:
        try:
            review_dict[list_id].append(data[idx+interval]['Date'])
        except:
            pass
for list_id, dates in review_dict.items():
    for date_i in dates:
        date_dict[date_i].append(int(list_id[1:]))

AttributeError: 'str' object has no attribute 'append'

In [85]:
date_dict

{'August 30, 2023': 'L01',
 'August 31, 2023': 'L02',
 'September 1, 2023': 'L03',
 'September 4, 2023': 'L04',
 'September 5, 2023': 'L05',
 'September 6, 2023': 'L06',
 'September 7, 2023': 'L07',
 'September 8, 2023': 'L08',
 'September 11, 2023': 'L09',
 'September 12, 2023': 'L10',
 'September 13, 2023': 'L11',
 'September 14, 2023': 'L12',
 'September 15, 2023': 'L13',
 'September 18, 2023': 'L14',
 'September 19, 2023': 'L15',
 'September 20, 2023': 'L16',
 'September 21, 2023': 'L17',
 'September 22, 2023': 'L18',
 'September 25, 2023': 'L19',
 'September 26, 2023': 'L20',
 'September 27, 2023': 'L21',
 'September 28, 2023': 'L22',
 'October 2, 2023': 'L23',
 'October 3, 2023': 'L24',
 'October 4, 2023': 'L25',
 'October 5, 2023': 'L26',
 'October 6, 2023': 'L27',
 'October 11, 2023': 'L28',
 'October 12, 2023': 'L29',
 'October 13, 2023': 'L30',
 'October 16, 2023': 'L31',
 'October 17, 2023': 'L32',
 'October 18, 2023': 'L33',
 'October 19, 2023': 'L34',
 'October 20, 2023': 'L35',
 'October 23, 2023': 'L36',
 'October 24, 2023': 'L37',
 'October 25, 2023': 'L38',
 'October 26, 2023': 'L39',
 'October 27, 2023': 'L40',
 'October 30, 2023': 'L41',
 'October 31, 2023': 'L42',
 'November 1, 2023': 'L43',
 'November 2, 2023': 'L44',
 'November 3, 2023': 'L45',
 'November 6, 2023': 'L46',
 'November 7, 2023': 'L47',
 'November 8, 2023': 'L48',
 'November 9, 2023': 'L49',
 'November 10, 2023': 'L50',
 'November 13, 2023': 'L51',
 'November 14, 2023': 'L52',
 'November 15, 2023': 'L53',
 'November 16, 2023': 'L54',
 'November 17, 2023': 'L55',
 'November 20, 2023': 'L56',
 'November 21, 2023': 'L57',
 'November 22, 2023': 'L58',
 'November 23, 2023': 'L59',
 'November 24, 2023': 'L60',
 'November 27, 2023': 'L61',
 'November 28, 2023': 'L62',
 'November 29, 2023': 'L63',
 'November 30, 2023': 'L64',
 'December 1, 2023': 'L65',
 'December 4, 2023': 'L66',
 'December 5, 2023': 'L67',
 'December 6, 2023': 'L68',
 'December 7, 2023': 'L69',
 'December 8, 2023': 'L70',
 'December 11, 2023': 'L71',
 'December 12, 2023': 'L72',
 'December 13, 2023': 'L73',
 'December 14, 2023': 'L74',
 'December 15, 2023': 'L75',
 'December 18, 2023': 'L76',
 'December 19, 2023': 'L77',
 'December 20, 2023': 'L78',
 'December 21, 2023': 'L79',
 'December 22, 2023': 'L80',
 'December 25, 2023': 'L81',
 'December 26, 2023': 'L82',
 'December 27, 2023': 'L83',
 'December 28, 2023': 'L84',
 'December 29, 2023': 'L85',
 'January 2, 2024': 'L86',
 'January 3, 2024': 'L87',
 'January 4, 2024': 'L88',
 'January 5, 2024': 'L89',
 'January 8, 2024': 'L90',
 'January 9, 2024': 'L91'}

In [76]:
date_dict

{'August 30, 2023': [1],
 'August 31, 2023': [1, 2],
 'September 1, 2023': [1, 2, 3],
 'September 4, 2023': [2, 3, 4],
 'September 5, 2023': [1, 3, 4, 5],
 'September 6, 2023': [2, 4, 5, 6],
 'September 7, 2023': [3, 5, 6, 7],
 'September 8, 2023': [1, 4, 6, 7, 8],
 'September 11, 2023': [2, 5, 7, 8, 9],
 'September 12, 2023': [3, 6, 8, 9, 10],
 'September 13, 2023': [4, 7, 9, 10, 11],
 'September 14, 2023': [5, 8, 10, 11, 12],
 'September 15, 2023': [6, 9, 11, 12, 13],
 'September 18, 2023': [7, 10, 12, 13, 14],
 'September 19, 2023': [8, 11, 13, 14, 15],
 'September 20, 2023': [1, 9, 12, 14, 15, 16],
 'September 21, 2023': [2, 10, 13, 15, 16, 17],
 'September 22, 2023': [3, 11, 14, 16, 17, 18],
 'September 25, 2023': [4, 12, 15, 17, 18, 19],
 'September 26, 2023': [5, 13, 16, 18, 19, 20],
 'September 27, 2023': [6, 14, 17, 19, 20, 21],
 'September 28, 2023': [7, 15, 18, 20, 21, 22],
 'October 2, 2023': [8, 16, 19, 21, 22, 23],
 'October 3, 2023': [9, 17, 20, 22, 23, 24],
 'October 4, 2023': [10, 18, 21, 23, 24, 25],
 'October 5, 2023': [11, 19, 22, 24, 25, 26],
 'October 6, 2023': [12, 20, 23, 25, 26, 27],
 'October 11, 2023': [13, 21, 24, 26, 27, 28],
 'October 12, 2023': [14, 22, 25, 27, 28, 29],
 'October 13, 2023': [15, 23, 26, 28, 29, 30],
 'October 16, 2023': [16, 24, 27, 29, 30, 31],
 'October 17, 2023': [17, 25, 28, 30, 31, 32],
 'October 18, 2023': [18, 26, 29, 31, 32, 33],
 'October 19, 2023': [19, 27, 30, 32, 33, 34],
 'October 20, 2023': [20, 28, 31, 33, 34, 35],
 'October 23, 2023': [21, 29, 32, 34, 35, 36],
 'October 24, 2023': [22, 30, 33, 35, 36, 37],
 'October 25, 2023': [23, 31, 34, 36, 37, 38],
 'October 26, 2023': [24, 32, 35, 37, 38, 39],
 'October 27, 2023': [25, 33, 36, 38, 39, 40],
 'October 30, 2023': [26, 34, 37, 39, 40, 41],
 'October 31, 2023': [27, 35, 38, 40, 41, 42],
 'November 1, 2023': [28, 36, 39, 41, 42, 43],
 'November 2, 2023': [29, 37, 40, 42, 43, 44],
 'November 3, 2023': [30, 38, 41, 43, 44, 45],
 'November 6, 2023': [31, 39, 42, 44, 45, 46],
 'November 7, 2023': [32, 40, 43, 45, 46, 47],
 'November 8, 2023': [33, 41, 44, 46, 47, 48],
 'November 9, 2023': [34, 42, 45, 47, 48, 49],
 'November 10, 2023': [35, 43, 46, 48, 49, 50],
 'November 13, 2023': [36, 44, 47, 49, 50, 51],
 'November 14, 2023': [37, 45, 48, 50, 51, 52],
 'November 15, 2023': [38, 46, 49, 51, 52, 53],
 'November 16, 2023': [39, 47, 50, 52, 53, 54],
 'November 17, 2023': [40, 48, 51, 53, 54, 55],
 'November 20, 2023': [41, 49, 52, 54, 55, 56],
 'November 21, 2023': [42, 50, 53, 55, 56, 57],
 'November 22, 2023': [43, 51, 54, 56, 57, 58],
 'November 23, 2023': [44, 52, 55, 57, 58, 59],
 'November 24, 2023': [45, 53, 56, 58, 59, 60],
 'November 27, 2023': [46, 54, 57, 59, 60, 61],
 'November 28, 2023': [47, 55, 58, 60, 61, 62],
 'November 29, 2023': [48, 56, 59, 61, 62, 63],
 'November 30, 2023': [49, 57, 60, 62, 63, 64],
 'December 1, 2023': [50, 58, 61, 63, 64, 65],
 'December 4, 2023': [51, 59, 62, 64, 65, 66],
 'December 5, 2023': [52, 60, 63, 65, 66, 67],
 'December 6, 2023': [53, 61, 64, 66, 67, 68],
 'December 7, 2023': [54, 62, 65, 67, 68, 69],
 'December 8, 2023': [55, 63, 66, 68, 69, 70],
 'December 11, 2023': [56, 64, 67, 69, 70, 71],
 'December 12, 2023': [57, 65, 68, 70, 71, 72],
 'December 13, 2023': [58, 66, 69, 71, 72, 73],
 'December 14, 2023': [59, 67, 70, 72, 73, 74],
 'December 15, 2023': [60, 68, 71, 73, 74, 75],
 'December 18, 2023': [61, 69, 72, 74, 75, 76],
 'December 19, 2023': [62, 70, 73, 75, 76, 77],
 'December 20, 2023': [63, 71, 74, 76, 77, 78],
 'December 21, 2023': [64, 72, 75, 77, 78, 79],
 'December 22, 2023': [65, 73, 76, 78, 79, 80],
 'December 25, 2023': [66, 74, 77, 79, 80, 81],
 'December 26, 2023': [67, 75, 78, 80, 81, 82],
 'December 27, 2023': [68, 76, 79, 81, 82, 83],
 'December 28, 2023': [69, 77, 80, 82, 83, 84],
 'December 29, 2023': [70, 78, 81, 83, 84, 85],
 'January 2, 2024': [71, 79, 82, 84, 85, 86],
 'January 3, 2024': [72, 80, 83, 85, 86, 87],
 'January 4, 2024': [73, 81, 84, 86, 87, 88],
 'January 5, 2024': [74, 82, 85, 87, 88, 89],
 'January 8, 2024': [75, 83, 86, 88, 89, 90],
 'January 9, 2024': [76, 84, 87, 89, 90, 91]}

In [61]:
date_dict

{'August 30, 2023': [1],
 'August 31, 2023': [1, 2],
 'September 1, 2023': [1, 2, 3],
 'September 4, 2023': [2, 3, 4],
 'September 5, 2023': [1, 3, 4, 5],
 'September 6, 2023': [2, 4, 5, 6],
 'September 7, 2023': [3, 5, 6, 7],
 'September 8, 2023': [1, 4, 6, 7, 8],
 'September 11, 2023': [2, 5, 7, 8, 9],
 'September 12, 2023': [3, 6, 8, 9, 10],
 'September 13, 2023': [4, 7, 9, 10, 11],
 'September 14, 2023': [5, 8, 10, 11, 12],
 'September 15, 2023': [6, 9, 11, 12, 13],
 'September 18, 2023': [7, 10, 12, 13, 14],
 'September 19, 2023': [8, 11, 13, 14, 15],
 'September 20, 2023': [1, 9, 12, 14, 15, 16],
 'September 21, 2023': [2, 10, 13, 15, 16, 17],
 'September 22, 2023': [3, 11, 14, 16, 17, 18],
 'September 25, 2023': [4, 12, 15, 17, 18, 19],
 'September 26, 2023': [5, 13, 16, 18, 19, 20],
 'September 27, 2023': [6, 14, 17, 19, 20, 21],
 'September 28, 2023': [7, 15, 18, 20, 21, 22],
 'October 2, 2023': [8, 16, 19, 21, 22, 23],
 'October 3, 2023': [9, 17, 20, 22, 23, 24],
 'October 4, 2023': [10, 18, 21, 23, 24, 25],
 'October 5, 2023': [11, 19, 22, 24, 25, 26],
 'October 6, 2023': [12, 20, 23, 25, 26, 27],
 'October 11, 2023': [13, 21, 24, 26, 27, 28],
 'October 12, 2023': [14, 22, 25, 27, 28, 29],
 'October 13, 2023': [15, 23, 26, 28, 29, 30],
 'October 16, 2023': [16, 24, 27, 29, 30, 31],
 'October 17, 2023': [17, 25, 28, 30, 31, 32],
 'October 18, 2023': [18, 26, 29, 31, 32, 33],
 'October 19, 2023': [19, 27, 30, 32, 33, 34],
 'October 20, 2023': [20, 28, 31, 33, 34, 35],
 'October 23, 2023': [21, 29, 32, 34, 35, 36],
 'October 24, 2023': [22, 30, 33, 35, 36, 37],
 'October 25, 2023': [23, 31, 34, 36, 37, 38],
 'October 26, 2023': [24, 32, 35, 37, 38, 39],
 'October 27, 2023': [25, 33, 36, 38, 39, 40],
 'October 30, 2023': [26, 34, 37, 39, 40, 41],
 'October 31, 2023': [27, 35, 38, 40, 41, 42],
 'November 1, 2023': [28, 36, 39, 41, 42, 43],
 'November 2, 2023': [29, 37, 40, 42, 43, 44],
 'November 3, 2023': [30, 38, 41, 43, 44, 45],
 'November 6, 2023': [31, 39, 42, 44, 45, 46],
 'November 7, 2023': [32, 40, 43, 45, 46, 47],
 'November 8, 2023': [33, 41, 44, 46, 47, 48],
 'November 9, 2023': [34, 42, 45, 47, 48, 49],
 'November 10, 2023': [35, 43, 46, 48, 49, 50],
 'November 13, 2023': [36, 44, 47, 49, 50, 51],
 'November 14, 2023': [37, 45, 48, 50, 51, 52],
 'November 15, 2023': [38, 46, 49, 51, 52, 53],
 'November 16, 2023': [39, 47, 50, 52, 53, 54],
 'November 17, 2023': [40, 48, 51, 53, 54, 55],
 'November 20, 2023': [41, 49, 52, 54, 55, 56],
 'November 21, 2023': [42, 50, 53, 55, 56, 57],
 'November 22, 2023': [43, 51, 54, 56, 57, 58],
 'November 23, 2023': [44, 52, 55, 57, 58, 59],
 'November 24, 2023': [45, 53, 56, 58, 59, 60],
 'November 27, 2023': [46, 54, 57, 59, 60, 61],
 'November 28, 2023': [47, 55, 58, 60, 61, 62],
 'November 29, 2023': [48, 56, 59, 61, 62, 63],
 'November 30, 2023': [49, 57, 60, 62, 63, 64],
 'December 1, 2023': [50, 58, 61, 63, 64, 65],
 'December 4, 2023': [51, 59, 62, 64, 65, 66],
 'December 5, 2023': [52, 60, 63, 65, 66, 67],
 'December 6, 2023': [53, 61, 64, 66, 67, 68],
 'December 7, 2023': [54, 62, 65, 67, 68, 69],
 'December 8, 2023': [55, 63, 66, 68, 69, 70],
 'December 11, 2023': [56, 64, 67, 69, 70, 71],
 'December 12, 2023': [57, 65, 68, 70, 71, 72],
 'December 13, 2023': [58, 66, 69, 71, 72, 73],
 'December 14, 2023': [59, 67, 70, 72, 73, 74],
 'December 15, 2023': [60, 68, 71, 73, 74, 75],
 'December 18, 2023': [61, 69, 72, 74, 75, 76],
 'December 19, 2023': [62, 70, 73, 75, 76, 77],
 'December 20, 2023': [63, 71, 74, 76, 77, 78],
 'December 21, 2023': [64, 72, 75, 77, 78, 79],
 'December 22, 2023': [65, 73, 76, 78, 79, 80],
 'December 25, 2023': [66, 74, 77, 79, 80, 81],
 'December 26, 2023': [67, 75, 78, 80, 81, 82],
 'December 27, 2023': [68, 76, 79, 81, 82, 83],
 'December 28, 2023': [69, 77, 80, 82, 83, 84],
 'December 29, 2023': [70, 78, 81, 83, 84, 85],
 'January 2, 2024': [71, 79, 82, 84, 85, 86],
 'January 3, 2024': [72, 80, 83, 85, 86, 87],
 'January 4, 2024': [73, 81, 84, 86, 87, 88],
 'January 5, 2024': [74, 82, 85, 87, 88, 89],
 'January 8, 2024': [75, 83, 86, 88, 89, 90],
 'January 9, 2024': [76, 84, 87, 89, 90, 91]}

In [58]:
import pandas as pd
import datetime

# 複習次數對應的間隔時間 (以天為單位)
review_intervals = [0, 1, 2, 4, 7, 15]

review_dict = {}
for idx, item in enumerate(data):
    list_id = item["list"]
    list_date = list_dict[list_id]
    review_dict[list_id] = [list_date]
    for interval in review_intervals[1:]:
        try:
            review_dict[list_id].append(data[idx+interval]['date'])
        except:
            pass
for list_id, dates in review_dict.items():
    read_list = []
    for date_i in dates:
        read_list.append(int(list_id[1:]))
        date_dict[date_i].append(int(list_id[1:]))

review_df = pd.DataFrame(date_dict.items(), columns=["Date", "Review_Lists"])
review_df

                 Date                                       Review_Lists
0     August 30, 2023                                       [1, 1, 1, 1]
1     August 31, 2023                           [1, 2, 1, 2, 1, 2, 1, 2]
2   September 1, 2023               [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
3   September 4, 2023               [2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4]
4   September 5, 2023   [1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]
..                ...                                                ...
86    January 3, 2024  [72, 80, 83, 85, 86, 87, 72, 80, 83, 85, 86, 8...
87    January 4, 2024  [73, 81, 84, 86, 87, 88, 73, 81, 84, 86, 87, 8...
88    January 5, 2024  [74, 82, 85, 87, 88, 89, 74, 82, 85, 87, 88, 8...
89    January 8, 2024  [75, 83, 86, 88, 89, 90, 75, 83, 86, 88, 89, 9...
90    January 9, 2024  [76, 84, 87, 89, 90, 91, 76, 84, 87, 89, 90, 9...

[91 rows x 2 columns]

In [ ]:
review_df['Name']=